/* resetuj sve */
* {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}


/* HTML5-speciÄan CSS setup */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; }


/* dokument 
------------------------>>> */
body{
	font-family:'Arial Narrow','Nimbus Sans L',sans-serif;
	margin:0 auto; width:960px; color:#fff;
	-webkit-font-smoothing: antialiased; 
	-webkit-text-size-adjust: 100%;
	background-image: url("back.jpg");
	}

/*zaglavlje 
------------------------>>> */
header{position:relative;
	width: 98%; padding:1%;margin-bottom:10px;height:100px;
	float:left;
	}
header h1 {text-align:center; width:98%; padding:1%; margin-top:10px;font-size:17px;font-family: 'Glegoo', serif;}
header h2 {text-align:center; width:98%; padding:1%;}

header em {color:lightblue;}
header b {color: yellow;}
header strong {color:orangered;}
pre {font-size:11px;padding:15px;
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
}
/* navigacija
------------------------>>> */
nav {position:relative;
	width:98%; padding:1%; float:left; text-align:left; margin-top:10px;
}
nav ul {
	float:left; 
	text-align:left;
	}
nav li {
	margin-bottom:1%; 
	list-style:none; 
	display:inline-block; 
	display:inline;
	}
nav a {
	margin-bottom:1%; 
	font-size:14px; 
	text-decoration:none; 	
	line-height:100%; 
	font-weight:bold; 
	border-top:1px solid #111;
	}

/* artikli 
------------------------>>> */
article {
	-moz-box-shadow:inset 0 0 50px #000;
	-webkit-box-shadow:inset 0 0 50px #000;
	box-shadow:inset 0 0 50px #000;
	-moz-border-radius: 25px;
	-webkit-border-radius:25px;
	border-radius:25px;
	float:left;
	margin-bottom:10px;margin-top:10px;
}
article p {margin:10px 10px 10px 10px;padding:10px; 
font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
color: hsla(90, 100%, 90%, 0.7);letter-spacing:0;font-size:14px;text-shadow:0px 1px 3px #111;}

/* 
font-family: Courier, "Courier New", monospace;
font-family: "Helvetica", serif;
font-family: Gill Sans Extrabold, sans-serif;
font-family: Hawaii 5-0, sans-serif;
font-family: Copperplate / Copperplate Gothic Light, sans-serif;
font-family: "New Century Schoolbook", serif;
font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
*/

/* --------------------->>> */
.sectionSign:before {
	content:'\00A7';
	margin-top:2%;
	} 

/* query 
------------------------>>> */
@media screen and (max-width: 960px) {
	
}
@media screen and (max-width: 800px) {
	
}
@media screen and (max-width: 600px) {
	
}
